mat-sidenav-container {
  height: 100%;

  mat-sidenav img {
    max-height: 120px;
    display: block;
    margin: 0 auto;
  }

  mat-toolbar img {
    max-height: 30px;
    margin-left: 10px;
  }

  .content {
    padding: 20px;
  }
}
