mat-sidenav img {
  width: 120px;
  display: block;
  margin: 0 auto;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;

  img {
    height: 30px;
    margin-left: 10px;
  }
}

.content {
  padding: 20px;
}
